nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #171717;
}

a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}